<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>https://ai-voice-note-backend-965903915503.us-central1.run.app</string>
	<key>API_KEY</key>
	<string>/63HNY9eKaNXBwZQ0q/3WEmeEXl0r9C3Oj3tsK656c4=</string>
</dict>
</plist>
